*{
    margin:5px;
    padding:5px;
}
body{
    font-family: sans-serif;
    color:#E45A92;
    padding: 5px
}

header{
    text-align: center;
}
span{
    background-color:#acffc1;
    color: white;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}
header img {border-radius: 50%}

section{
    display: flex;
    justify-content: center;
}
main{
    display: flex;
    margin-top: 10px;
}
div{
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
}
img{
    width: 200;
}